 body {
 	margin: 70px;
 	font-family: fantasy;
 	padding: 0px; 
 }
input {
	color: gold;
	font-size: 49px;
}
label {
	color: gold;
	font-size: 50px;
}
button {
	color: gold;
	font-size: 52px;
}
 a {
 	color: brown;
	font-size: 35px;
}
li {
	color: brown;
	font-size: 40px;	 
}
